
  .carousel-inner > .item > img {
    width: 300px;
    height:100px;
  }
  
  body,
  html {
    height: 100%;
    background-image: url(./images/download.jpg)
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }